__pycache__/*
.idea
Lexique*.tsv
frhyme
frhyme/*
haspirater
haspirater/*
irc/*
*.pyc
contexts/
contexts_old/
contextsm
messages.mo
messages.pot
plint/res/*.mo
diaeresis?.json
Lexique*.zip
Lexique*.zip.*
haspirater
*.pyo
poem
backup/*
poem*.tpl
poem2html
plint_log
train_diaeresis/additions.tpl
train_diaeresis/additions
train_diaeresis/additions_quicherat.tpl
train_diaeresis/additions_quicherat
train_diaeresis/additions_cyrano
train_diaeresis/additions_cyrano.tpl
train_diaeresis/diaeresis_verbs/verbs*
train_diaeresis/diaeresis_verbs/add
train_diaeresis/final_diaeresis.ctx
train_diaeresis/final_syneresis.ctx
train_diaeresis/final_diaeresis2.ctx
train_diaeresis/final_syneresis2.ctx
coverage
.coverage
build/
dist/
plint.egg-info/
ouliplint/stanford-postagger-full-2013-11-12/
test_temp.txt
