__pycache__/*
frhyme/*
frhyme.py
frhyme.json
haspirater/*
haspirater.py
haspirater.json
irc/*
occurrences
old/*
*.pyc
Lexique371/
contexts/
contexts_old/
contextsm
messages.mo
messages.pot
res/*.mo
diaeresis*.json
