__pycache__/*
.idea
Lexique382.tsv
frhyme
frhyme/*
haspirater
haspirater/*
irc/*
occurrences
*.pyc
contexts/
contexts_old/
contextsm
messages.mo
messages.pot
plint/res/*.mo
diaeresis?.json
Lexique*.zip
haspirater
*.pyo
poem
backup/*
poem*.tpl
poem2html
plint_log
additions.tpl
additions
additions_quicherat.tpl
additions_quicherat
diaeresis_verbs/verbs*
diaeresis_verbs/add
final_diaeresis.ctx
final_syneresis.ctx
final_diaeresis2.ctx
final_syneresis2.ctx
coverage
.coverage
build/
dist/
plint.egg-info/
ouliplint/stanford-postagger-full-2013-11-12/
test_temp.txt
