{% extends "page.html" %}

{% block body %}
<form method="POST" action="check" id="bigform">
  <label for="poem">
  {% if lang == 'fr' %}
    Poème&nbsp;:
  {% else %}
    Poem:
  {% endif %}
  </label><br />
  <textarea id="poem" name="poem"></textarea>
  <br/>
  <label for="template">
  {% if lang == 'fr' %}
    Type de poème&nbsp;:
  {% else %}
    Poem type:
  {% endif %}
</label><br />
<ul>
  <li><input type="radio" name="template" value="classical" checked="yes">
  {% if lang == 'fr' %}
    Alexandrins classiques avec césure à l'hémistiche, rimes plates, genres
    alternés.
  {% else %}
    Classical alexandrine verse with <em>hémistiche</em>, flat rhymes, alternate
    rhyme genres.
  {% endif %}
  </input></li>
  <li><input type="radio" name="template" value="sonnet">
  {% if lang == 'fr' %}
    Sonnet classique.
  {% else %}
    Classical sonnet.
  {% endif %}
  </input></li>
  <li><input type="radio" name="template" value="alexandrin">
  {% if lang == 'fr' %}
    Alexandrins sans hémistiche, sans vérification de la rime.
  {% else %}
    Alexandrine without <em>hémistiche</em> and without rhyme.
  {% endif %}
  </input></li></ul>
  <p style="font-variant: italics;">More templates coming soon!</p>
  <input id="submit" type="submit"
  {% if lang == 'fr' %}
    value="Valider"
  {% else %}
    value="Check"
  {% endif %}
    />
  </form>
{% endblock %}

