{% extends "page.html" %}

{% block body %}
<form method="POST" action="check" id="bigform">
  <label for="poem">
  </label><br />
  <textarea id="poem" name="poem"
  {% if lang == 'fr' %}
    placeholder="Entrez votre poème ici."
  {% else %}
    placeholder="Input your poem here."
  {% endif %}
    ></textarea>
  <br/>
  <label for="template">
  {% if lang == 'fr' %}
    Choisissez un modèle de poème&nbsp;:
  {% else %}
    Choose a poem template:
  {% endif %}
</label><br />
<dl>
  <dt><input type="radio" name="template" value="classical" checked="yes">
  <span class="template">classical</span></input></dt>
  {% if lang == 'fr' %}
  <dd>Alexandrins classiques avec césure à l'hémistiche, rimes plates, genres
  alternés.</dd>
  {% else %}
  <dd>Classical alexandrine verse with <em>hémistiche</em>, flat rhymes, alternate
  rhyme genres.</dd>
  {% endif %}
  <dt><input type="radio" name="template" value="sonnet">
  <span class="template">sonnet</span></input></dt>
  {% if lang == 'fr' %}
  <dd>Sonnet classique&nbsp;:deux quatrains d'alexandrins
  classiques en rimes embrassées et genres alternés, deux tercets d'alexandrins
  classiques en rimes AAC BBC.</dd>
  {% else %}
  <dd>Classical sonnet. TODO BLAH.</dd>
  {% endif %}
  <dt><input type="radio" name="template" value="alexandrin">
  <span class="template">alexandrin</span></input></dt>
  {% if lang == 'fr' %}
  <dd>Alexandrins sans hémistiche, sans vérification de la
  rime.</dd>
  {% else %}
  <dd>Alexandrine without <em>hémistiche</em> and without
  rhyme.</dd>
  {% endif %}
  <dt><input type="radio" name="template" value="custom">
  <span class="template">custom</span> 
  {% if lang == 'fr' %}
  (<a href="about#template">plus d'infos</a>)
  {%else%}
  (<a href="about#template">more info</a>)
  {%endif%}</input></dt>
  <dd>
  <textarea name="custom_template" id="custom_template"
  {% if lang == 'fr' %}
  placeholder="modèle personnalisé"
  {% else %}
  placeholder="custom template"
  {% endif %}
  ></textarea>
</dd>
</dl>
  <input id="submit" type="submit"
  {% if lang == 'fr' %}
    value="Valider"
  {% else %}
    value="Check"
  {% endif %}
    />
  </form>
{% endblock %}

