{% extends "page.html" %}

{% block body %}

{% if lang == 'fr' %}
<p id="desc">plint est un outil pour vérifier la métrique et les rimes de poèmes en
langue française.</p>
{% else %}
<p id="desc">plint is a tool to check the metric and rhymes of French verse.</p>
{% endif %}
<p>
<textarea id="user_template">
6/6 A !X
6/6 A !X
6/6 B !x
6/6 B !x
</textarea>
</p>

<p id="status">status</p>

<button onclick="check()">Check</button>
<button onclick="$( '#poem' ).find('span').remove()">Remove errors</button>
<button onclick="$( '#poem pre' ).css({'display': 'block'})">Expand all</button>
<button onclick="$( '#poem pre' ).css({'display': 'none'})">Collapse all</button>
<p id="poem" name="poem" contenteditable>
<br><br><br>
</p>

{% endblock %}

