h1 {
  background: #040;
  float: left;
  margin: 0;
  margin-right: 0.3em;
  font-size: 100%;
  padding: 0.2em;
}

#body {
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h1 a, #about {
  color: white;
  text-decoration: none;
}

header {
  background: black;
  overflow: auto;
  color: white;
  width: 100%;
}

#about a {
  float: right;
  color: #0c0;
}

#bigform a {
  color: white;
}

#poem {
  width: 100%;
  height: 10em;
}

#custom_template {
  height: 8em;
}

body {
  margin: 0;
  padding: 0;
}

.help {
  vertical-align: super;
}

#bigform {
  max-width: 35em;
  border: 3px outset #040;
  padding: 1em;
  padding-top: 0;
  background: #040;
  color: white;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: auto;
}

#bigform dd, #custom_template {
  font-size: 80%;
  width:80%;
  margin-bottom: 0.5em;
}

dt {
  font-weight: bold;
}

#bigform ul {
  list-style-type: none;
  padding: 0px;
}

#bigform #submit {
  float: right;
  margin-top: 0.3em;
  margin-bottom: 0;
  width: 7em;
}

#bigform textarea {
  margin-bottom: 2em;
  width: 100%;
}

h2.correct, h2.incorrect {
  font-size: 120%;
  color: white;
  font-family: "Bitstream Vera Sans", sans-serif;
  padding: 0.2em;
  text-align: center;
  overflow: auto;
}

#dump {
  padding: 1em;
  padding-left: 5em;
}

#dump.correct {
  border: 1px solid #55b05a;
  border-left: 6px double #55b05a;
}

#dump.incorrect {
  border: 1px solid #d23d24;
  border-left: 6px double #d23d24;
}

#dump {
  margin: auto;
  border: 1px solid black;
  overflow: auto;
}

h2.correct {
  background: #55b05a;
}
h2.incorrect {
  background: #d23d24;
}
li.incorrect {
  color: #d23d24;
  border-right: 6px double #d23d24;
}

#firsterror {
  font-size: 50%;
  font-style: italic;
  float: right;
}

#firsterror a {
  color: white;
}

.template {
  font-family: DejaVu Sans Mono, Liberation Mono, monospace;
}

#desc {
  margin-bottom: 0em;
}

